UPDATE_MIRRORS=1
CRON_DAILY_RUN=true
ALLOW_SSH_ROOT_USER=no
ALLOW_SSH_PROT_V1=2
ALLOW_SYSLOG_REMOTE=no
USE_SYSLOG=authpriv.notice
PORT_SCAN=1
LOGFILE=/var/log/rkhunter.log
SHOW_SUMMARY=1
#SCRIPTWHITELIST=/usr/bin/unhide
SCRIPTDIR=/usr/lib/rkhunter/scripts
INSTALLDIR=/usr
TMPDIR=/var/lib/rkhunter/tmp
DBDIR=/usr/lib/rkhunter/dbdir
MAIL-ON-WARNING="{{ rkhunter_email }}"
