{% if logrotate_kafka.path is defined %}
{{ logrotate_kafka.path }}
{% elif logrotate_kafka.paths is defined %}
{% for path in logrotate_kafka.paths %}
{{ path }}
{% endfor %}
{% endif %}
{
  {% if logrotate_kafka.frequency is defined %}
    {{ logrotate_kafka.frequency }}
  {% endif %}
  {% if logrotate_kafka.rotate is defined %}
    rotate {{ logrotate_kafka.rotate }}
  {% endif %}
  {% if logrotate_kafka.options is defined %}
    {% for option in logrotate_kafka.options %}
      {{ option }}
    {% endfor %}
  {% endif %}
  create {{ logrotate_kafka.create }}
  {% if logrotate_kafka.compress %}
    compress
  {% endif %}
  {% if logrotate_kafka.postrotate is defined %}
    postrotate
  {{ logrotate_kafka.postrotate | indent(4, true) }}
    endscript
  {% endif %}
}


