{% if logrotate_fail2ban.path is defined %}
{{ logrotate_fail2ban.path }}
{% elif logrotate_fail2ban.paths is defined %}
{% for path in logrotate_fail2ban.paths %}
{{ path }}
{% endfor %}
{% endif %}
{
  {% if logrotate_fail2ban.frequency is defined %}
    {{ logrotate_fail2ban.frequency }}
  {% endif %}
  {% if logrotate_fail2ban.rotate is defined %}
    rotate {{ logrotate_fail2ban.rotate }}
  {% endif %}
  {% if logrotate_fail2ban.options is defined %}
    {% for option in logrotate_fail2ban.options %}
      {{ option }}
    {% endfor %}
  {% endif %}
  create {{ logrotate_fail2ban.create }}
  {% if logrotate_fail2ban.compress %}
    compress
  {% endif %}
  {% if logrotate_fail2ban.postrotate is defined %}
    postrotate
  {{ logrotate_fail2ban.postrotate | indent(4, true) }}
    endscript
  {% endif %}
}


