{% if logrotate_haproxy.path is defined %}
{{ logrotate_haproxy.path }}
{% elif logrotate_haproxy.paths is defined %}
{% for path in logrotate_haproxy.paths %}
{{ path }}
{% endfor %}
{% endif %}
{
  {% if logrotate_haproxy.frequency is defined %}
    {{ logrotate_haproxy.frequency }}
  {% endif %}
  {% if logrotate_haproxy.rotate is defined %}
    rotate {{ logrotate_haproxy.rotate }}
  {% endif %}
  {% if logrotate_haproxy.options is defined %}
    {% for option in logrotate_haproxy.options %}
      {{ option }}
    {% endfor %}
  {% endif %}
  create {{ logrotate_haproxy.create }}
  {% if logrotate_haproxy.compress %}
    compress
  {% endif %}
  {% if logrotate_haproxy.postrotate is defined %}
    postrotate
  {{ logrotate_haproxy.postrotate | indent(4, true) }}
    endscript
  {% endif %}
}
